<ion-view>
    <ion-header-bar class="bar-custom">
        <button class="button button-icon icon ion-arrow-left-c icon-right" ng-click="modal.hide()"></button>
        <h1 class="title">Serviço</h1>
    </ion-header-bar>
    <ion-content style="background-color: rgb(56,56,56)">
        <form class="card" style="background-color: rgb(43,43,43); margin-top: 20%;">
            <div class="item item-text-wrap cente item-user">
                <div class="row">
                    <div class="col col-20 no-padding-bottom-top"><i style="font-size: 54px;" class="fa fa-motorcycle consumo-icon"></i></div>
                    <div class="col col-70 no-padding-bottom-top">
                        <div class="row no-padding-bottom-top">
                            <div class="col consumo-title">
                                PLACA: {{motoboy.placa}}
                            </div>
                        </div>
                        <div class="row no-padding-bottom-top">
                            <div class="col veiculo-info">
                                VEICULO: {{motoboy.modelo}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-text-wrap center item-user">
                <div class="row font-xs">
                    <div class="col no-padding" style="text-align: left;"><b>Nome</b></div>
                    <div class="col no-padding" style="text-align: center;"><b>{{motoboy.nome}}</b></div>
                </div>
            </div>

            <div class="list padding login-box">

                <p class="color-white text-informa-login">Finalizar Serviço</p>

                <form name="cadastro_usuario">

                    <label class="item item-input item-icon-right">
                        <i class="icon ion-document-text"></i>
                        <input type="text" placeholder="Observação sobre o serviço" ng-model="observacao">
                    </label>

                    <label class = "item item-input item-select col">
                        <div class="input-label">
                            Nota
                        </div>
                        <select ng-model="nota" ng-change="selecionarNota(nota)">
                            <option ng-selected="true" value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </label>


                    <button class="button button-block button-custom buttonRadioLogin" ng-click="finalizar()">Finalizar </button>
                </form>
            </div>
        </form>
    </ion-content>

</ion-view>