<ion-view>
    <ion-pane>
        <ion-content  class="padding fundo-tema">

            <div class="row">
                <div class="col"></div>
                    <div class="col col-center">
                        <img class="img-logo" src="img/motohelperLogo.png">
                    </div>
                <div class="col"></div>
            </div>

            <p class="color-white text-informa-login padding">Por favor digite seu usuário e senha para entrar no aplicativo</p>

            <form name="login" class="login-box">

                <label class="item item-input">
                    <input type="text" placeholder="Login" ng-model="usuario.username">
                </label>

                <label class="item item-input item-icon-right">
                    <i class="icon ion-locked"></i>
                    <input type="password"  placeholder="Senha" ng-model="usuario.password">
                </label>

                <button class="button button-block button-dark buttonRadioLogin" ng-disabled="!usuario.username && !usuario.password" ng-click="loginUsuario(usuario)">Entrar</button>
                <button class="button button-block button-dark buttonRadioLogin"  ng-click="openModal()">Cadastrar</button>
            </form>
      	</ion-content>
    </ion-pane>
</ion-view>
